<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark" id="menu">
    <div class="container-fluid">
        
        <a class="navbar-brand" href="#">
          <img src="assets/Imagenes/paquemex.jpg" alt="logo" height="80px" width="100px">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Integra tu tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="Paquemexinfo()">¿Por que paquemex?</a>
          </li>
          <button class="btn btn-outline-success" type="button">rastrea tu envio</button>
          <li class="nav-item">
            
          </li>
        </ul>
        <form class="d-flex" role="button">
          <button class="btn btn-light" type="button" (click)="Login()">Ingresa</button>
          <button class="btn btn-success" type="button" (click)="Register()">crea tu cuenta hoy</button>
        </form>
      </div>
    </div>
  </nav>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
<h2 class="text-center">Paqueteria </h2>
<hr>

<div class="row">
	<aside class="col-sm-4">
<p></p>
<div class="card">
<article class="card-body">

<h4 class="card-title mb-4 mt-1">Agregar instrucciones de entrega</h4>
	 <form>
    <div class="form-group">
    	<label>¿Algunas instrucciones addional para acceder al edificio?</label>
        <input name="" class="form-control" placeholder="" type="email">
    </div> <!-- form-group// -->                                                            
</form>
</article>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-sm-4">
<p>envio de carga y transporte</p>

<div class="card">
<article class="card-body">
	<h4 class="card-title mb-4 mt-1" class="text-center">Direccion</h4>
	<hr>
	<form>
    <div class="form-group">
        <input name="" class="form-control" placeholder="Nombre Completo" type="email">
    </div> <!-- form-group// -->
    <div class="form-group">
        <input name="" class="form-control" placeholder="Calle. número ext e int" type="email">
    </div> <!-- form-group// -->
    <div class="form-group">
        <input name="" class="form-control" placeholder="Codigo Postal" type="email">
    </div> <!-- form-group// -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Validar codigo postal </button>
    </div> <!-- form-group// -->
    <div class="form-group">
        <input name="" class="form-control" placeholder="Codigo Postal" type="email">
    </div> <!-- form-group// -->
    <div class="row">
        <div class="col-md-6">
            
        </div>
                                                    
    </div> <!-- .row// -->                                                                  
</form>
</article>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-sm-4">
<p></p>

<div class="card">
<article class="card-body">
	
	<form>
	<div class="form-group">
	<button type="submit" class="btn btn-primary btn-block"> Confirmar  </button>
	</div> <!-- form-group// -->
	</form>
</article>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
</div> <!-- row.// -->

</div> 
<!--container end.//-->
</body>
<html>